<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.sell.dao.AgencyMapper">
  <resultMap id="BaseResultMap" type="com.house.sell.model.Agency">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="about_us" jdbcType="VARCHAR" property="aboutUs" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="web_site" jdbcType="VARCHAR" property="webSite" />
  </resultMap>
  <insert id="insert" parameterType="com.house.sell.model.Agency">
    insert into agency (id, name, address, 
      phone, email, about_us, 
      mobile, web_site)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{aboutUs,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{webSite,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.house.sell.model.Agency">
    insert into agency
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="aboutUs != null">
        about_us,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="webSite != null">
        web_site,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="aboutUs != null">
        #{aboutUs,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="webSite != null">
        #{webSite,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>