<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.sell.dao.HouseMapper">
  <resultMap id="BaseResultMap" type="com.house.sell.model.House">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="BIT" property="type" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="images" jdbcType="VARCHAR" property="images" />
    <result column="area" jdbcType="INTEGER" property="area" />
    <result column="beds" jdbcType="INTEGER" property="beds" />
    <result column="baths" jdbcType="INTEGER" property="baths" />
    <result column="rating" jdbcType="DOUBLE" property="rating" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="properties" jdbcType="VARCHAR" property="properties" />
    <result column="floor_plan" jdbcType="VARCHAR" property="floorPlan" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="community_id" jdbcType="INTEGER" property="communityId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="state" jdbcType="BIT" property="state" />
  </resultMap>
  <insert id="insert" parameterType="com.house.sell.model.House">
    insert into house (id, name, type, price, 
      images, area, beds, 
      baths, rating, remarks, 
      properties, floor_plan, tags, 
      create_time, city_id, community_id, 
      address, state)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=BIT}, #{price,jdbcType=INTEGER}, 
      #{images,jdbcType=VARCHAR}, #{area,jdbcType=INTEGER}, #{beds,jdbcType=INTEGER}, 
      #{baths,jdbcType=INTEGER}, #{rating,jdbcType=DOUBLE}, #{remarks,jdbcType=VARCHAR}, 
      #{properties,jdbcType=VARCHAR}, #{floorPlan,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{cityId,jdbcType=INTEGER}, #{communityId,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR}, #{state,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.house.sell.model.House">
    insert into house
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="images != null">
        images,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="beds != null">
        beds,
      </if>
      <if test="baths != null">
        baths,
      </if>
      <if test="rating != null">
        rating,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="properties != null">
        properties,
      </if>
      <if test="floorPlan != null">
        floor_plan,
      </if>
      <if test="tags != null">
        tags,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="communityId != null">
        community_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=BIT},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="images != null">
        #{images,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=INTEGER},
      </if>
      <if test="beds != null">
        #{beds,jdbcType=INTEGER},
      </if>
      <if test="baths != null">
        #{baths,jdbcType=INTEGER},
      </if>
      <if test="rating != null">
        #{rating,jdbcType=DOUBLE},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="properties != null">
        #{properties,jdbcType=VARCHAR},
      </if>
      <if test="floorPlan != null">
        #{floorPlan,jdbcType=VARCHAR},
      </if>
      <if test="tags != null">
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="communityId != null">
        #{communityId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>